<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gang.lu.riskmanagementproject.mapper.AlertRecordMapper">

    <!-- 继承WorkerMapper中的公共BasePOResultMap -->
    <resultMap id="BaseResultMap" type="gang.lu.riskmanagementproject.domain.po.AlertRecord"
               extends="gang.lu.riskmanagementproject.mapper.WorkerMapper.BasePOResultMap">
        <result column="worker_id" property="workerId"/>
        <result column="alert_type" property="alertType"/>
        <result column="alert_level" property="alertLevel"/>
        <result column="message" property="message"/>
        <result column="is_handled" property="isHandled"/>
        <result column="handled_by" property="handledBy"/>
        <result column="handle_time" property="handleTime"/>
    </resultMap>

    <!-- 标记为已处理 -->
    <update id="markAsHandled">
        UPDATE t_alert_record
        SET is_handled  = 1,
            handled_by  = #{handledBy},
            handle_time = #{handleTime}
        WHERE id = #{id}
    </update>


</mapper>
