<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gang.lu.riskmanagementproject.mapper.WorkerMapper">

    <!-- Common BasePOResultMap -->
    <resultMap id="BasePOResultMap" type="gang.lu.riskmanagementproject.domain.po.BasePO">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- Worker's special field -->
    <resultMap id="BaseResultMap" type="gang.lu.riskmanagementproject.domain.po.Worker"
               extends="gang.lu.riskmanagementproject.mapper.WorkerMapper.BasePOResultMap">
        <result column="worker_code" property="workerCode"/>
        <result column="name" property="name"/>
        <result column="position" property="position"/>
        <result column="work_years" property="workYears"/>
        <result column="work_type" property="workType"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="countWorkerByStatus" resultType="java.util.Map">
        SELECT status, COUNT(*) AS count
        FROM t_worker
        GROUP BY status
    </select>

    <select id="countWorkerByWorkType" resultType="java.util.Map">
        SELECT work_type, COUNT(*) AS count
        FROM t_worker
        GROUP BY work_type
    </select>

</mapper>
