<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gang.lu.riskmanagementproject.mapper.WorkAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="gang.lu.riskmanagementproject.domain.po.WorkArea"
               extends="gang.lu.riskmanagementproject.mapper.WorkerMapper.BasePOResultMap">
        <result column="area_code" property="areaCode"/>
        <result column="area_name" property="areaName"/>
        <result column="area_risk_level" property="areaRiskLevel"/>
        <result column="description" property="description"/>
    </resultMap>

    <select id="countWorkAreaByRiskLevel" resultType="java.util.Map">
        SELECT area_risk_level, COUNT(*) AS count
        FROM t_work_area
        GROUP BY area_risk_level
    </select>


</mapper>
